<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <title>UFO</title>
        <link rel="stylesheet" href={{url_for('static', filename='styles/generalsearch.css')}}>
    </head>
    <body>
        <h>The UFO Website</h>
        
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="stats">Statistics</a></li>
            <li><a href="nearme">Near Me</a></li>
            <li><a href="advancedsearch">Advanced Search</a></li>
        </ul>
        
        <p>Introduction: Welcome to the #1 place on the web for UFO information. To get started, type a keyword of interest in the search bar below (ie. blue, red, circle, cone, etc.).</p>
        
        <form>
            <input type="text" autocomplete="off" id="searchbar" name="search" placeholder="Enter Keywords Here..." />
        </form>
        
        <table style = "width: 100%">
            <caption>You searched for: {{ search }}</caption>
            <tr>
                <th>Event Time</th>
                <th>Event Date</th>
                <th>City</th>
                <th>State</th>
                <th>Shape</th>
                <th>Duration</th>
                <th>Summary</th>
                <th>Event URL</th>
            </tr>
            
            {% for element in results %}
            <tr>
                <td>{{ element[0] }}</td>
                <td>{{ element[1] }}</td>
                <td>{{ element[2] }}</td>
                <td>{{ element[3] }}</td>
                <td>{{ element[4] }}</td>
                <td>{{ element[5] }}</td>
                <td>{{ element[6] }}</td>
                <td>{{ element[7] }}</td>
            </tr>
            {% endfor %}
        </table>
        
        
    </body>
</html>