<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <title>UFO</title>
        <link rel="stylesheet" href={{url_for('static', filename='styles/homepage.css')}}>
    </head>
    <body>
        <h>The UFO Website</h>
        
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="stats">Statistics</a></li>
            <li><a href="nearme">Near Me</a></li>
            <li><a href="advancedsearch">Advanced Search</a></li>
        </ul>
        
        <p>Introduction: Welcome to the #1 place on the web for UFO information. To get started, type a keyword of interest in the search bar below (ie. blue, red, circle, cone, etc.).</p>
        
        <form>
            <input type="text" autocomplete="off" id="searchbar" name="search" placeholder="Enter Keywords Here..." />
        </form>
        
        
    </body>
</html>