<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset = utf-8>
        <title>Map</title>
        <link rel=stylesheet href={{url_for('static', filename='styles/stats.css')}}>
    </head>
    <body>
        <h>The UFO Website</h>
        
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="stats">Statistics</a></li>
            <li><a href="nearme">Near Me</a></li>
            <li><a href="advancedsearch">Advanced Search</a></li>
        </ul>
        
        <div class="row">
            <div class="column1">
                <img src="https://cdn.images.express.co.uk/img/dynamic/80/590x/UFO-Map-915904.jpg" alt="heat map" style="width:150%">
                <figcaption>Credit goes to the National UFO Reporting Center for this data.</figcaption>
            </div>
            <div class="column2">
                <img src="https://i.imgur.com/zph3JNE.png" alt="heat map" style="width:120%">
            </div>
        </div>

        <p> Images taken from the National UFO Reporting Center website. The map shows the density of reports acros the USA. The graph shows the percentage of sightings that are different shape, and how that changes year by year. </p>
    </body>
</html>